<style>
	
	.container{
		margin-bottom: 50px;
		margin-left: 1%	!important;
	}

/*
	.img-repo{
		height:317; 
		width:300px; 
	}
*/		
</style>





<h4>
	<%= link_to  "Intranet", root_path %>
</h4>

<h1>Ventas 2018</h1>


		<%#= image_tag( pic.url , :width => 1440, :height => 317, :alt => '', :class => "img-responsive  img-repo" ) %>
		<%#= link_to image_path("image.jpg", :rel=>"lightbox", :title=>"my caption") do %>
		<%#= cl_image_tag("Chavarri/fig_pie_year_2018.png") %>




<br/>
<section id="year" class="text-center">
<div class="container">   

<h1>Acumulado Anual</h1>

	<div class='row'>
			<%= image_tag( @pic_url_1, :title=>"my caption") %>

			<%= image_tag( @pic_url_2) %>
	</div>

</div>
</section>




<section id="year" class="text-center">
<div class="container">   
<h1>Mensual</h1>

	<div class='row'>		
		<%= image_tag( @pic_url_3 ) %>

		<%= image_tag( @pic_url_4 ) %>
	</div>
	
</div>
</section>
